
<div class="container">

  <div>
    <h1>
      Document Capturing System 
    </h1>
  </div>

  <p>
    Select Document To Upload
  </p>

  <a routerLink="/documents">
    <button mat-flat-button color="primary">Document List</button>
  </a>
  <br>

  <mat-form-field style="width:80%;">
    <mat-select placeholder="Select Document Type" 
        [(ngModel)]="selectedValue" 
        name="docType"
        (selectionChange)="eventSelection($event.value)">
      <mat-option *ngFor="let doc of document_types" [value]="doc.id">
        {{doc.typeName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
    
  <div *ngIf="selectedValue != null" style="width: 80%;">
    
    <dynamic-form 
        class="ain-full-form" 
        [type]="selectedType"
        [uploading]="uploading"
        [fields]="document_properties" 
        (submit)="submit($event)"
        *ngIf="document_properties.length>0">
    </dynamic-form>


    <div class="margin-top" *ngIf="document_properties.length>0;else not_avaiable">
      <br> {{ document_properties | json }}
    </div>

    <ng-template #not_avaiable>
      No Properties Available For This Configuration
    </ng-template>
    
    

  </div>

  <ng-template #loading>
    Loading User...
  </ng-template>


  <div class="margin-top">
    
  </div>

</div>


