<p style="text-align:center;">
  Upload {{ type }}!
</p>

<form class="normal-form" [formGroup]="form" (submit)="onSubmit($event)">

  <ng-container 
      *ngFor="let field of fields;" 
      dynamicField 
      [field]="field" 
      [group]="form"
  >
  </ng-container>
  

  <br>
  <div class="image-upload">
  
  <input placeholder="Select Image" 
    (input)="onFilesAdded($event)" 
    accept="image/jpeg"
    type="file" #file>
    
  </div>
  
    
    
  <br><br>

  <div class="ain-center">
    <button class="ain-button" 
      [formGroup]="form" 
      type="submit" 
      mat-raised-button 
      [disabled]="uploading"
      color="primary">{{ uploading?'Uploading':'Upload' }}</button>    
  </div>
  

</form>
